{
    "sourceMaps": "inline",
    "presets": [
        "react-app"
    ],
    "plugins": [
        "transform-flow-strip-types",
        [
            "react-css-modules",
            {
                "filetypes": {
                    ".scss": "postcss-scss"
                },
                "generateScopedName": "[hash:base64]"
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": []
        }
    }
}
