{
    "sourceMaps": "inline",
    "presets": [
        "flow",
        "react-app",
        [
            "env",
            {
                "targets": {
                    "node": 6
                },
                "useBuiltIns": true
            }
        ]
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "filetypes": {
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                },
                "generateScopedName": "[hash:base64]"
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "module-resolver",
                    {
                        "root": [
                            "./src",
                            "./app"
                        ]
                    }
                ]
            ]
        }
    }
}
